<section class="p-6">
  <div>
    <h1 class="font-bold mb-10 text-2xl">Product Management</h1>
  </div>
  <div class="flex justify-between items-center mb-6">
    <form  id="searchForm" class="flex w-full max-w-md" method="GET" action="/admin/product">
      <label for="default-search" class="sr-only">Search</label>

      <!-- Search Input -->
      <div class="relative flex-grow">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search" name="search"
          class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-l-lg bg-gray-50 focus:ring-yellow-500 focus:border-yellow-500"
          placeholder="Search Products..." required />
      </div>

      <!-- Search Button -->
      <button type="submit"
        class="px-5 py-2.5 bg-yellow-400 text-white font-medium rounded-r-lg hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-yellow-500">
        Search
      </button>

      <% if (search && search.trim() !=="" ) { %>
        <a href="/admin/product" class="ml-2 px-5 py-2.5 bg-red-400 text-white rounded-lg hover:bg-gray-500">
          Clear
        </a>
        <% } %>
    </form>

    <a href="/admin/product/add"> <button type="button"
        class="ml-4 flex items-center gap-3 px-5 py-2.5 text-sm font-medium text-white bg-yellow-400 rounded-lg hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300">
        Add Product
      </button></a>
  </div>
  <div class="overflow-hidden shadow-md sm:rounded-lg mb-6">
    <table class="min-w-full text-sm text-left text-gray-500 table-fixed">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-4 py-3 w-16">S.No</th>
          <th scope="col" class="px-4 py-3 w-24">Image</th>
          <th scope="col" class="px-4 py-3 w-48">Product Name</th>
          <th scope="col" class="px-4 py-3 w-64">Description</th>
          <th scope="col" class="px-4 py-3 w-24">Status</th>
          <th scope="col" class="px-4 py-3 w-28">Added Date</th>
          <th scope="col" class="px-4 py-3 w-28">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (products && products.length> 0) { %>
          <% products.forEach((product, index)=> { %>
            <tr class="bg-white border-b" id="product-<%= product._id %>">
              <td class="px-4 py-4 text-center">
                <%= (currentPage - 1) * limit + index + 1 %>
              </td>
  
              <td class="px-4 py-4">
                <img src="/uploads/<%= product.images[0] %>" alt="No Image" class="w-16 h-16 object-cover rounded">
              </td>
  
              <td
                class="px-4 py-4 text-gray-700 font-medium uppercase truncate whitespace-nowrap overflow-hidden text-ellipsis max-w-[10rem]">
                <%= product.name %>
              </td>
  
              <td class="px-4 py-4 text-gray-600 truncate whitespace-nowrap overflow-hidden text-ellipsis max-w-[15rem]">
                <%= product.description %>
              </td>
  
              <td class="px-4 py-4">
                <%= product.isBlocked ? "Blocked" : "Active" %>
              </td>
  
              <td class="px-4 py-4">
                <%= product.createdAt.toLocaleDateString("en-IN", { year: 'numeric' , month: 'short' , day: 'numeric' })
                  %>
              </td>
  
              <td class="px-4 py-4 space-y-1">
                <a href="/admin/product/edit/<%= product._id %>">
                  <button type="button" class="text-blue-600 hover:text-yellow-600">Edit</button>
                </a>
                <br>
                <a href="/admin/product/view/<%= product._id %>">
                  <button type="button" class="text-blue-600 hover:text-yellow-600">View</button>
                </a>
                <br>
                <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"
                  class="text-yellow-600 hover:text-<%= product.isBlocked ? 'green-500' : 'red-500' %> confirm-action cursor-pointer"
                  data-url="/admin/product/block?id=<%= product._id %>&search=<%= search %>&page=<%= currentPage %>">
                  <%= product.isBlocked ? "Unblock" : "Block" %>
                </button>
              </td>
            </tr>
            <% }) %>
              <% } else { %>
                <tr>
                  <td colspan="7" class="px-6 py-4 text-center text-gray-500">
                    No products found
                  </td>
                </tr>
                <% } %>
      </tbody>
    </table>
  </div>


  <!-- Pagination -->
  <div class="flex justify-center">
    <nav aria-label="Page navigation example">
      <ul class="flex items-center -space-x-px h-10 text-base">
        <!-- Previous Button -->
        <li>
          <a href="/admin/product?page=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= search %>"
            class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 <%= currentPage <= 1 ? 'pointer-events-none opacity-50' : '' %>">
            <span class="sr-only">Previous</span>
            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 1 1 5l4 4" />
            </svg>
          </a>
        </li>

        <!-- Page Numbers -->
        <% for (let i=1; i <=totalPages; i++) { %>
          <li>
            <a href="/admin/product?page=<%= i %>&limit=<%= limit %>&search=<%= search %>"
              class="flex items-center justify-center px-4 h-10 border border-gray-200  <%= i === currentPage ? 'bg-yellow-500 text-white' : 'bg-white hover:bg-yellow-500' %>">
              <%= i %>
            </a>
          </li>
          <% } %>

            <!-- Next Button -->
            <li>
              <a href="/admin/product?page=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= search %>"
                class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 <%= currentPage >= totalPages ? 'pointer-events-none opacity-50' : '' %>">
                <span class="sr-only">Next</span>
                <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
                </svg>
              </a>
            </li>
      </ul>
    </nav>
  </div>

</section>

<!-- Confirm Modal -->
<div id="popup-modal" tabindex="-1"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow-sm">
      <button type="button"
        class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
        data-modal-hide="popup-modal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="p-4 md:p-5 text-center">
        <svg class="mx-auto mb-4 text-gray-400 w-12 h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500">Are you sure you want to delete this product?</h3>
        <button id="confirm-yes" data-modal-hide="popup-modal" type="button"
          class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
          Yes, I'm sure
        </button>
        <button data-modal-hide="popup-modal" type="button"
          class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">No,
          cancel</button>
      </div>
    </div>
  </div>
</div>





<script>
  let targetUrl = null;
  let targetRow = null

  document.querySelectorAll('.confirm-action').forEach(btn => {
    btn.addEventListener('click', () => {
      targetUrl = btn.getAttribute('data-url');
      targetRow = btn.closest('tr')
      document.getElementById('popup-modal').classList.remove('hidden');
    });
  });

  document.getElementById('confirm-yes').addEventListener('click', async () => {
    if (targetUrl){
      try {
        const res=await fetch(targetUrl,{
          method: 'GET',
          headers:{
            'X-Requested-With': 'XMLHttpRequest' 
          }
        })
        const data= await res.json()

        if(!res.ok){
          if(data.redirect){
            window.location.href=data.redirect
            return
          }
          alert(data.error || "Request failed")
          return
        }
        if (data.success) {
        const statusCell = targetRow.querySelector("td:nth-child(5)");
        statusCell.innerText = data.isBlocked ? "Blocked" : "Active";

        const actionBtn = targetRow.querySelector(".confirm-action");
        actionBtn.textContent = data.isBlocked ? "Unblock" : "Block";
        actionBtn.classList.toggle("hover:text-red-500", !data.isBlocked);
        actionBtn.classList.toggle("hover:text-green-500", data.isBlocked);

        actionBtn.setAttribute("data-url", `/admin/product/block?id=${data._id}`);
      } else {
        alert(data.error || "Failed to update user status");
      }

      } catch (error) {
        console.error("Error:", error);
      alert("An error occurred during the request");
      }
      finally {
      document.getElementById('popup-modal').classList.add('hidden');
    }
    }
  });

  document.querySelectorAll('.edit-btn').forEach(btn => {
    btn.addEventListener('click', () => {
      const id = btn.getAttribute('data-id');
      const name = btn.getAttribute('data-name');
      const description = btn.getAttribute('data-description');

      document.getElementById('edit-id').value = id;
      document.getElementById('edit-name').value = name;
      document.getElementById('edit-description').value = description;

      document.getElementById('edit-form').action = `/admin/product/edit/${id}`;
    });
  });

  document.getElementById('searchForm').addEventListener('submit',function(e){
    const input=document.getElementById('default-search')
    input.value=input.value.trim()
     if (input.value === "") {
      e.preventDefault(); 
    }

  })


</script>