<section class="w-full flex relative">
  <img src="/img/1.png" alt="banner img" class="w-full h-auto object-fill  shadow-white" />
  <div class="absolute bg-white h-10 w-full bottom-0" style="background: linear-gradient(to top, white, transparent);">
  </div>
</section>
<section class="container mx-auto my-8 p-4 justify-items-center">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-22 text-center">

    <% categories.forEach(category=> { %>
      <div>
        <a href="/products?category=<%= category._id %>">
          <img src="/img/<%= category.name %>.png" alt="<%= category.name %>"
            class="w-32 h-32 object-cover shadow-md rounded-full mx-auto">
          <p class="mt-2 font-medium">
            <%= category.name %>
          </p>
        </a>
      </div>
      <% }) %>


</section>

<section id="about_us" class="bg-white-50 justify-center">
  <div class="container mx-auto px-6 max-w-3/4">
    <h4 class="text-xl font-bold text-gray-800 mb-3 tracking-wide text-center">
      ABOUT US
    </h4>
    <p class="text-gray-600 text-center leading-relaxed">
      At <span class="font-semibold text-yellow-500">Pawsome</span>,
      we believe every paw deserves love, care, and a little bit of style!
      From nutritious food to playful accessories, we’re here to make life better for your furry family.
      Join our journey of wagging tails, happy meows, and unconditional love.
    </p>
  </div>
</section>

<section class="mt-20">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center md:mx-20 mb-10">

    <% products.forEach(product=> { %>
      <div class="w-full bg-white border border-gray-200 rounded-lg shadow-sm relative flex flex-col">

        <!-- Favorite Button -->
        <button class="absolute top-3 right-3 text-gray-400 hover:text-red-500 favorite-btn">
          <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 heart-icon" viewBox="0 0 24 24">
            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09 
                 C13.09 3.81 14.76 3 16.5 3 
                 19.58 3 22 5.42 22 8.5 
                 c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
          </svg>
        </button>

        <!-- Product Image -->
        <a href="/product/<%= product._id %>">
          <img class="p-6 rounded-t-lg h-48 w-full object-contain"
            src="/uploads/<%= product.images && product.images.length > 0 ? product.images[0] : '/default.jpg' %>"
            alt="<%= product.name %>" />
        </a>

        <!-- Content -->
        <div class="px-5 pb-5 flex flex-col flex-1">

          <!-- Product Name -->
          <a href="/product/<%= product._id %>">
            <h5 class="text-lg font-semibold tracking-tight text-gray-900 line-clamp-2 h-14 leading-relaxed">
              <%= product.name %>
            </h5>
          </a>

          <!-- Rating -->
          <div class="flex items-center mt-2 mb-4">
            <span class="text-yellow-400 text-lg">★</span>
            <span class=" text-gray-800 text-xs font-semibold px-2 py-0.5 rounded-sm">5.0</span>
          </div>

          <!-- Price & Add to Cart -->
          <div class="mt-auto flex items-center justify-between">
         <div>
             <span class="text-xl font-bold text-black-600">₹<%= product.price %></span>
            <span class="line-through text-gray-400">₹<%= product.oldPrice %></span>
         </div>
            
            <a href="/cart/add/<%= product._id %>" class="text-gray-900 bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none 
                  focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Add to cart
            </a>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</section>

<section class="w-full flex relative mt-20 mb-0">
  <img src="/img/banner.jpg" alt="ad banner" class="w-full h-auto border border-gray-100">
</section>
